mixin corner(c,feature)
  .corner(class="corner-#{c}")
    .feature
      +includeSvg(feature)

mixin includeSvg(feature)
  if feature=='NIGHTLIFE'
    include assets/nightlife.svg
  if feature=='FAMILY'
    include assets/family.svg
  if feature=='MODERN'
    include assets/modern.svg
  if feature=='QUIRKY'
    include assets/quirky.svg
  if feature=='PUBLIC'
    include assets/public.svg

mixin center(feature, value, text)
  .text
    p
      | #{text}

mixin center_top(value)
  .center-top
    .value=value

.card(class=["feature-#{feature}","value-#{value}"])
  +corner("tl", feature)
  +corner("tr", feature)
  +center_top(value)
  .center
    +center(feature,value,text)
